.btn-mail,
.btn-phone {
  @include flex-direct;
  transition: color $time-anim, fill $time-anim;
  text-align: start;
}

.btn-mail {
  @include for-size(tablet-landscape) {
    margin-bottom: 10px;
  }
  @include for-size(desktop) {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .btn-mail,
  .btn-phone {
    justify-content: flex-start;
  }
}

.button-icon {
  display: inline-block;
  margin-right: 8px;
  @include for-size(desktop) {
    margin-right: 10px;
  }
}

.btn {
  display: inline-block;
  min-width: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-decoration: none;

  color: $white-color;
  background-color: $accent-color;

  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
  transition: color $time-anim, background-color $time-anim;
  fill: $time-anim;

  &:hover,
  &:focus {
    background-color: $white-color;
    color: $accent-color;
  }
}

.hero-button {
  padding: 10px 32px;
}
