.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  padding: 0;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-btn {
  @include flex-direct;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
  }
}

.social-icon {
  fill: currentColor;
}

.footer-social {
  @include flex-direct;
  height: 44px;
  width: 44px;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    outline: none;
  }
}

.footer-links {
  display: flex;
  justify-content: start;
  margin-left: 0;
}
