/* Customers*/
.customers {
  display: flex;
  flex-wrap: wrap;
  // @include flex-direct;
}

.customers-link {
  @include flex-direct;
  cursor: pointer;
  width: 210px;
  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;

  transition: fill $time-anim, border-color $time-anim;

  &:hover,
  &:focus {
    outline: 0;
    fill: $accent-color;
    border-color: $accent-color;
  }
}

@media screen and (max-width: 479px) {
  .customers-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .customers-item:nth-child(2n + 1) {
    margin-right: 30px;
  }

  .customers-item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-link {
    width: 226px;
  }
  .customers-item {
    margin-right: 30px;
  }

  .customers-item:nth-child(3n + 3) {
    margin-right: 0;
  }

  .customers-item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .customers {
    justify-content: center;
  }

  .customers-link {
    width: 170px;
  }

  .customers-item:not(:last-child) {
    margin-right: 30px;
  }
}
