/* Site nav*/
.site-nav {
  display: flex;
  margin-left: 85px;
  margin-bottom: 0px;
}

.site-nav .item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color;
  transition: $time-anim;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav .link.current {
  color: $accent-color;
}

.item .current:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  padding: 0;

  width: 100%;
  height: 4px;

  background-color: $accent-color;
  border-radius: 2px;
}

/* Contacts */
.contacts {
  display: flex;
  margin-left: auto;
  margin-bottom: 0px;
}

.contacts .link {
  margin-left: 30px;
  color: $primary-text-color;
  fill: $primary-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.site-nav .link,
.contacts a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
