/*WINDOW*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color $time-anim;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  .modal {
    transform: scale(0.9) translate(-50%, -50%);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  padding: 40px 40px;

  width: 528px;
  height: 581px;

  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;

  transition: transform $time-anim;
}

.modal-title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: $title-text-color;
}

.btn-close-modal {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;

  width: 30px;
  height: 30px;

  background-color: $white-color;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill $time-anim;

  cursor: pointer;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:first-child {
    margin-top: 12px;
  }

  &:focus-within svg {
    fill: $accent-color;
  }

  &:hover .modal-icon {
    fill: $accent-color;
  }

  &:hover .form-input,
  &:hover .form-textarea {
    border: 1px solid $accent-color;
  }
}

.form-input {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: #000000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border $time-anim;
}

.form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  text-align: left;
  color: $primary-text-color;
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  width: 100%;
  height: 120px;

  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

input:focus,
textarea:focus {
  border: 1px solid $accent-color;
  outline: 0;
}

.btn-submit-modal {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-icon {
  position: absolute;
  display: inline-flex;

  top: 50%;
  left: 15px;

  transition: fill $time-anim;
}

.checkbox-label {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.71;
  color: $primary-text-color;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox-icon {
  display: inline-block;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;

  border: 2px solid $title-text-color;
  border-radius: 2px;
}

.checkbox-input:checked + .checkbox-icon {
  background-image: url(../images/modal-agree-icon.svg);

  background-size: contain;
  background-color: $accent-color;
  background-repeat: no-repeat;
  border-color: transparent;
}

.policy {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.policy-text {
  text-decoration: underline;
  color: $accent-color;
  cursor: pointer;
}
