/* Main Portfolio */
.page-header.portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card {
  width: calc((100% - 30px * 2) / 3);

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.portfolio-link {
  position: relative;
  display: block;
  text-decoration: none;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:hover .portfolio-description,
  &:focus,
  &:focus .portfolio-description {
    outline: 0;
    transform: translateY(0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-description {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;

  margin: 0;
  padding: 65px 25px;
  font-size: 18px;
  line-height: 1.56;

  color: $white-color;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform $time-anim;
}

.portfolio-box {
  width: 370px;
  padding-top: 20px;

  border-top: none;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

  background-color: #ffffff;
}

.portfolio .item {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-title {
  margin: 0 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-text-color;
}

.portfolio-item {
  margin-top: 0;
  margin-right: 24px;
  margin-bottom: 20px;
  margin-left: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: $primary-text-color;
}
