/* Works */
.works {
  display: flex;
  margin: auto;
}

.works-block {
  padding-top: 0;
}

.works-item {
  position: relative;

  width: calc((100% - 30px * 2) / 3);
  margin-bottom: 0;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.works-item .title {
  position: absolute;
  bottom: 0px;
  left: 0px;

  width: 100%;

  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 0px;
  margin-bottom: 0px;

  color: $white-color;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}
